body {
    color: #F5F5F5; 
    background: #1A1A1A; 
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #000000; 
    padding: 20px;
    font-size: 32px;
    color: #F5F5F5; 
}

.chamada {
    background: rgba(255, 111, 0, 0.8); 
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.luis-com-s iframe {
    opacity: 0.5;
}

.luis-com-s iframe:hover {
    border: 3px solid #1A1A1A; 
    opacity: 1;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
    border-radius: 1rem;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #FF6F00; 
}

.categoria h2 {
    color: #2196F3; 
}

div iframe {
    border-radius: 1rem;
    border: solid rgba(111, 96, 247, 0.671);
    opacity: 0.8;
}
